*{
    margin: 0;
    padding: 0;
    /* border: 2px solid black; */
}

section{
    background-color: #9C835F;
    height: 100vh;
}

.logo1{
margin-left: 37px;
}

.logo2{
width: 72px;
height: 72px;
}

.title{
height: 62px;
text-transform: uppercase;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #F9B23D;
}

/* Colom bagian Tengah */
.tengah{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hasil{
width: 296px;
height: 186px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 196px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #BD0000;
}

.playerWin, .playerLose, .playerDraw{
position: absolute;
display: flex;
justify-content: center;
top: 35%;
left: 10%;
background: #4C9654;
border-radius: 10px;
transform: rotate(-28.87deg);
}

.playerLose{
position: absolute;
display: flex;
justify-content: center;
top: 35%;
left: 10%;
background: #4C9654;
border-radius: 10px;
transform: rotate(-28.87deg);
}

.playerDraw{
position: absolute;
display: flex;
justify-content: center;
top: 35%;
left: 10%;
background: #035B0C;
border-radius: 10px;
transform: rotate(-28.87deg);
}

/* End colom bagian tengah */

.playerChoices, .comChoices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.refresh{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerChoice, .comChoice, .com{
    margin-bottom: 5px;
    padding: 22px;
}

.playerChoice:hover, .comChoice:hover, .refresh:hover{
    cursor: pointer;
    background: #C4C4C4;
}

.com{
    background: #C4C4C4;
}